:root {
  --fondo: #ffffff;
  --fondo-header: #ffffff;
  --texto-primario: #2D3436;
  --texto-secundario: #636E72;
  --color-logo: #2D3436;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--fondo);
  color: var(--texto-primario);
}

.header {
  background-color: var(--fondo-header);
}

.logo {
  color: var(--color-logo);
}
