:root {
  --primario: #6C5CE7;
  --texto-primario: #2D3436;
  --texto-secundario: #636E72;
  --fondo-input: #EFEFF1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: white; /* Fondo claro SIEMPRE */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}

/* Título del formulario */
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  color: var(--texto-primario);
  background-color: transparent;
}

/* Botón de cerrar */
button {
  position: absolute;
  top: 456px;
  right: 100px;
}

/* Inputs del formulario */
.input {
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: var(--fondo-input);
}

/* Labels */
.label {
  width: 300px;
  font-weight: bold;
  color: var(--texto-secundario);
  background-color: transparent;
}

h3 {
  background-color: transparent;
}

/* Botón de actualizar */
.boton {
  cursor: pointer;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

.boton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Botón aceptar */
.aceptar-btn {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 10px;
}

/* Contenedor de colores */
.contenedor-colores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  width: 250px;
  gap: 10px;
}

/* Opción de color */
.color-opcion {
  cursor: pointer;
}

/* Círculos de color */
.color-circulo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
