 :root {
    --primario: #673AB7;
    --secundario:#ffc1cc;
    --terciario: #a8dadc;
    --texto-primario: #2D3436;
    --texto-secundario: #636E72;
    --fondo-oscuro:#0F0F0F;
}

body{
    background-color:var(--fondo-oscuro);
    margin: 0;
    padding: 0;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.home-titulo{
    font-size: 10vh;
    color: var(--secundario);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-weight:900;
}
.home-imagen{
    width: 35vw;
    height: auto;
    margin-top: 20px;
}
.introduccion-del-software{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.software-contenedor-texto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: var(--texto-primario);
    background-image: url('/peoplepro/public/img/fondo11.jpg');
}
.software-contenedor-texto h2{
    font-size: 3rem;
    margin-bottom: 20px;

    width: 80%;
    margin: 0 auto;
}
.software-contenedor-texto p{
    font-size: .9rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 20px !important;
}
.informacion-img, .contacto-img{
    margin-left: 8%;
    width: 35%;
    height: auto;
}
.servicios{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recuadro-informativo{
    width: 27%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 15px;
    border-radius: 20px;
    border: 2px solid var(--secundario);
}
.recuadro-informativo:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.recuadro-informativo h2{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.recuadro-informativo p{
    font-size: 1rem;
    color: var(--texto-secundario);
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}
.recuadro-informativo img{
    width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 20%;
}
.contacto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario-contacto{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--texto-primario);
    background-image: url('/peoplepro/public/img/fondo1.jpg');
    padding: 20px;
    border-radius: 20px;
}
.input-contacto input:focus, .input-contacto textarea:focus{
    outline: none;
    border-color: #5433eb;
    background-color: #f0f8ff;
    box-shadow: 0 0 5px #5433eb;
}
.informacion-contacto{
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 10%;
}
.contacto-titulo{
    text-align: center;
    font-size: 3rem;
    color: #7359e7;
    margin: 10px 0;
}
.label-contacto{
    font-size: 1rem;
    color:#7359e7;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 0 0 ;
}
.contenido-contacto{

    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin:0 0 20px 0;
}
.copiar-btn{
    background-color: var(--primario);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.copiar-btn:hover{
    scale: 1.05;
}
.contacto-subtitulo{
    color: rgb(199, 199, 199);
}