:root {
  --primario: #A593E0;
  --secundario: lightblue;
  --texto-primario: #2D3436;
  --texto-secundario: #636E72;
  --fondo-claro: #ffffff; /* fondo blanco fijo */
  --color-logo: #2D3436;
}

body {
  background-color: var(--fondo-claro);
  color: var(--texto-primario);
}

/* Ajustes para títulos y textos */
.titulo-landing {
  color: var(--texto-primario);
}

.parrafo-landing {
  color: var(--texto-secundario);
}

/* Tarjetas */
.tarjeta,
.tarjeta1 {
  color: var(--texto-primario);
  border: 1px solid var(--primario);
}

.tarjeta:hover,
.tarjeta1:hover {
  background-color: var(--primario);
  color: white;
}

/* Botón */
.boton-home a {
  border-color: var(--primario);
  color: var(--primario);
}

.boton-home a:hover {
  background-color: var(--primario);
  color: white;
}

/* Footer */
.landing-footer {
  background-color: #e0e0e0;
  color: var(--texto-primario);
}
