    body {
        background-image: url('/peoplepro/public/img/fondo11.jpg');
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 50px 30px;
        max-width: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2, h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 12px;
        background-color: #5433EB;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #371fa0;
    }

    .mensaje-error {
        color: red;
        text-align: center;
        margin-bottom: 10px;
    }

    .mensaje-ok {
        color: green;
        text-align: center;
        margin-bottom: 10px;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 15px;
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    #form-recuperar {
      margin-top: 20px;
    }