/* estilos de las tablas */
.main-tabla{
    width: 95%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--fondo-header);
}
.tablas {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    border-radius: 12px;
}
.tablas thead th {
    background-color: var(--primario);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border: none;
}

.tablas tbody td {
    text-align: center;
    padding: 15px;
    background-color:white;
    border-bottom: 2px solid var(--primario);
}
/* botones de acciones */
.bt-eliminar, .bt-editar, .bt-rechazar,.bt-ver, .bt-volver{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.bt-editar{
    background-color: lightgreen;
    margin: 5px;
}
.bt-eliminar{
    background-color: lightcoral;
    margin: 5px;
}
.bt-rechazar{
    background-color: lightsalmon;
}
.bt-editar:hover{
    background-color: rgb(93, 175, 93);
}
.bt-eliminar:hover{
    background-color: rgb(168, 77, 77);
}
.bt-rechazar:hover{
    background-color: rgb(177, 101, 71);
}
.bt-ver{
    background-color: lightblue;
    margin: 5px;
}
.bt-ver:hover{
    background-color: rgb(77, 136, 168);
}
.bt-volver{
    background-color: var(--primario);
    margin: 0 0 20px 3%;
    display: inline-block;
}
.bt-volver:hover{
    scale: 1.05;
}
/* estado de permisos */
.estado {
  font-weight: bold;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.estado-pendiente {
  background-color: lightskyblue;
}
.estado-aprobado {
  background-color: lightgreen;
}
.estado-rechazado {
  background-color: lightcoral;
}
/* boton para solicitar permisos */
.btn-tabla {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid lightblue;
    border-radius: 8px;
    background-color: transparent;
    color: lightblue;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-tabla:hover {
    background-color: lightblue;
    color: white;
}