/* estilos de las tablas */
.main-tabla{
    width: 95%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--fondo-header);
}
.tablas {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    border-radius: 12px;
    margin-top: 20px;
}
.tablas thead th {
    background-color: var(--primario);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border: none;
}

.tablas tbody td {
    text-align: center;
    padding: 15px;
    background-color:white;
    border-bottom: 2px solid var(--primario);
}
/* botones de acciones */
.bt-eliminar, .bt-editar, .bt-rechazar,.bt-ver, .bt-volver, .bt-salida{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.bt-editar{
    background-color: rgb(102, 235, 102);
    margin: 5px;
}
.bt-eliminar{
    background-color: rgb(235, 93, 93);
    margin: 5px;
}
.bt-rechazar{
    background-color: rgb(247, 130, 85);
}
.bt-editar:hover{
    background-color: rgb(72, 172, 72);
}
.bt-eliminar:hover{
    background-color: rgb(168, 77, 77);
}
.bt-rechazar:hover{
    background-color: rgb(170, 86, 53);
}
.bt-ver{
    background-color: rgb(102, 190, 219);
    margin: 5px;
}
.bt-ver:hover{
    background-color: rgb(77, 136, 168);
}
.bt-salida{
    background-color: rgb(255, 193, 7);
    margin: 5px;
}
.bt-salida:hover{
    background-color: rgb(204, 153, 0);
}
.bt-volver{
    background-color: var(--primario);
    margin: 0 0 20px 3%;
    display: inline-block;
}
.bt-volver:hover{
    scale: 1.05;
}
/* estado de permisos */
.estado {
  font-weight: bold;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.estado-pendiente {
  background-color: rgb(44, 172, 252);
}
.estado-aprobado {
  background-color: rgb(57, 238, 57);
}
.estado-rechazado {
  background-color: rgb(235, 67, 67);
}
/* boton para solicitar permisos */
.btn-tabla {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--primario);
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    border: 2px solid var(--primario);
}

.btn-tabla:hover {
    border: 2px solid var(--texto-primario);
}