@media (prefers-color-scheme: dark) {
    :root {
        --fondo: #202428;
        --fondo-header:#2B3035;
        --texto-primario: #ffffff;
        --texto-secundario: #bdc2c4;
        --color-logo:#b895e6;
        --color-icono-menu: #b895e6;
        --box-shadow:trasparent;
        --color-buscador:#bdc2c4;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --fondo: #F7F7F8;
        --fondo-header: #ffffff;
        --texto-primario: #2D3436;
        --texto-secundario: #636E72;
        --color-logo: #2D3436;
        --color-icono-menu: #b895e6;
        --box-shadow: #bdc2c4 0px 0px 2.5px;
        --color-buscador:#C6C6C6;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--texto-primario);
}
.titulo-grande{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: var(--texto-primario);
    margin-bottom: 20px;
}
.formulario-usuario{
    width: 90%;
    height: auto;
    padding:20px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--fondo-header);
    overflow: hidden;
}
.formulario-usuario input{
    border: none;
    border-radius: 8px;
    background-color: var(--fondo);
    padding: 10px;
    width: 200px;
}
.formulario-usuario input:focus, .formulario-usuario select:focus{
    outline: lightblue solid 2px;
}
.formulario-usuario button{
    border: 1px solid lightblue;
    background-color: transparent;
    color: lightblue;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s;
}
.formulario-usuario button:hover{
    background-color: lightblue;
    color: white;
    transition: all 0.8s;
}
.formulario-usuario select{
    background-color: var(--fondo);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: var(--texto-primario);
}
.formulario-usuario select option[selected]{
    background-color: var(--fondo-claro);
}
.main-datatable{
    width: 90%;
    padding: 30px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--fondo-header);
}

